<html>
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form action="" method="POST" role="form">
	<legend>Сервис ссылка</legend>

	<div class="form-group">
		<label for="">Ссылка</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
		<label for="">Время действия ссылки</label>
		<input type="text" class="form-control" id="" placeholder="Input field">
		<label for="">пароль</label>
		<input type="text" class="form-control" id="" placeholder="Input field">

	</div>

	

	<button type="submit" class="btn btn-primary">Дать ссылку</button>
</form>
</body>
</html>